<div class="footer">
  <div class="footerTitle">
    О компании
  </div>
  <div class="footerItem">
    <div class="map">
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Acc170be5ab8f3c51c08dd3ef58c68f2f46424bc287a69a9f1c58afd961403bf5&amp;source=constructor" width="400" height="340" frameborder="0">
      </iframe>
    </div>
    <div class="footertext">
      Наш адрес:<br> ул. Карла Маркса, 63, Киров, Россия<br><br>
      Режим работы:<br> Каждый день (24 часа)<br><br>
        8 818 500-99-00<br>
      <h6>Бесплатно по всей России</h6>

    </div>
  </div>

</div>
