<div class="backdrop"></div>
<div class="modal">
  <nav class="navbar">
    <div class="title">
      Информация о  автомобиле
    </div>
    <div class="setting" *ngFor="let item of cars">
      <div style="display: flex">
        <div> <b>Техническое состояние:</b>
          <li>Уровень топлива: {{g}}л.</li>
          <li>Уровень омывающей жидкости: {{h}} %</li></div>
        <div> <b>Характеристики автомобиля:</b>
          <li>Объем двигателя: {{item.Engine}}</li>
          <li>Мощность двигателя: {{item.Horsepower}}</li>
          <li>Тип коробки передач: {{item.Transmission}}</li><br></div>
      </div>

      <div><b> Технический осмотр:</b>
        <li>Последнее ТО было произведено 2019 году <br>(была замена масла)</li>
        </div>
    </div>
  </nav>
  <button class="btn add" (click)="close.emit()">Закрыть</button>
</div>

