<div class="container">
  <div class="form">
    <h1>Вход</h1>
    <div class="input-form">
      <input type="text" placeholder="Номер телефона" class="loginSingIn"   prefix="+7" mask="(XXX) XXX XX-XX"[(ngModel)]="login">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Пароль" class="passwordSingIn" [(ngModel)]="passwordUser">
    </div>
    <div class="input-form">
        <button class="btn btn-primary" (click)="rout(login,passwordUser)">Войти</button>
    </div>
    <a (click)="signUp()" class="forget">Зарегистрироваться</a>
  </div>
</div>
