<ng-container>
  <div class="body">
    <div class="headings">
        Прокат автомобилей в Кирове
    </div>
    <div class="imgCar">
      <img src="/assets/image/SuperCar.png">
    </div>

      <div class="priceToCar">
        <a href="/cars">
        <div class="day priceCars">{{priceCarOneDaytTarrif}}<br>{{countDayOneDaytTarrif}}
        </div> </a>
        <a href="/cars">
        <div class="day priceCars">{{priceCarTenDaytTarrif}}<br>{{countDayTenDaytTarrif}}
        </div></a>
          <a href="/cars">
        <div class="day priceCars">{{priceCarThirtyDaytTarrif}}<br>{{countDayThirtyDaytTarrif}}
        </div></a>
        <a href="/cars">
        <div class="day priceCars">{{priceCarThirtyOneDaytTarrif}}<br>{{countDayThirtyOneDaytTarrif}}
        </div></a>


    </div>
    <div class="slaider">
      <input type="radio" checked>
      <input type="radio">
      <input type="radio">
      <input type="radio">
    </div>
    <a href="/cars">
    <button>Арендовать</button>
    </a>
  </div>
</ng-container>
