<app-app-nav></app-app-nav>
<div class="body">
  <div class="title">
    О компании CoinCar
  </div>
  <div class="text">
    <div class="photo"><img src="/assets/image/imgInfo.png"></div>
    <div class="info">
      Компания «CoinCar» в Кирове предоставляет удобные и выгодные для клиента условия автопроката, включающие
      возможность оплатить услуги по безналичному расчету. Заключая договор аренды с нашей компанией, мы гарантируем вам
      минимальный залог
      и обеспечим для вас индивидуальную скидку. <br><br>Если вам уже 18 лет и понадобилась аренда
      авто в Кирове, тогда мы рады вам помочь. Находимся в центре города. Благодаря большому автопарку мы
      сможем выполнить любое ваше пожелание для успешного путешествия или поездки.<br><br>
      Почему именно автомобили компании CoinCar в Кирове? Все очень просто, мы следим за
      техническим состоянием всего автопарка наших автомобилей и гарантируем безотказную работу каждой
      машины. Регулярное плановое ТО, так же мы проводим осмотр транспорта после каждого клиента на
      собственной станции по обслуживанию автомобилей. <br><br>Предлагая авто на прокат в Кирове, компания «CoinCar»
      предоставляет надежный сервис по аренде авто.
      ВЫБИРАЙ КОМПАНИЮ «CoinCar» БУДУЩЕЕ С НАМИ!!!
      <details>
        <summary>
          Подробнее:
        </summary>
        Почему именно наша компания по Аренде Авто в Кирове? Потому что аренда
        автомобиля с компанией «CoinCar» это просто, быстро и без лишних переживаний.
        Аренда в компании «CoinCar» даст вам уверенность и избавит вас от
        переживаний за состояние автомобиля для вашей поездки. <br><br>В автопарке компании «CoinCar»
        большой выбор автомобилей на любой вкус и достаток. От самых бюджетных до
        премиум класса. Только самые чистые и исправные авто для аренды в
        Кирове.
        <br><br>Компания «CoinCar» работает для вас 7 дней в неделю 24 часа в сутки, остаётся на связи что
        бы наши клиенты были уверенны в том, что в любой момент им окажут помощь в сложной ситуации или
        дадут консультацию.
        <br><br>
      </details>
    </div>
  </div>
</div>

<app-footer></app-footer>
