<div class="container">
  <div class="form">
    <h1>Вход</h1>
    <div class="input-form">
      <input type="text" placeholder="ФИО">
    </div>
    <div class="input-form">
      <input type="date">
    </div>
    <div class="input-form">
      <input type="text" placeholder="Номер водительских прав">
    </div>
    <div class="input-form">
      <input type="email" placeholder="Email">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Придумайте пароль" class="passwordSingUp">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Повторите пароль" class="passwordSingUprepit">
    </div>
    <div class="input-form">
      <a href="/SignIn">
        <button class="btn btn-primary" (click)="SignIn()">Зарегистрироваться</button>
      </a>
    </div>
    <a href="/SignIn" class="forget">Войти</a>
  </div>
</div>
