<div class="container">
  <div class="form">
    <h1>Вход</h1>
    <div class="input-form">
      <input type="text" placeholder="ФИО" [(ngModel)]="Fio">
    </div>
    <div class="input-form">
      <input placeholder="Дата рождения" mask="99.99.9999" [(ngModel)]="dateOfBith">
    </div>
    <div class="input-form">
      <input value="" placeholder="(XXX) XXX XXXXX"prefix="+" mask="99999999999" [(ngModel)]="phone">
    </div>
    <div class="input-form">
      <input type="text" placeholder="Номер В/У" mask="XX XX XXXXXX" [(ngModel)]="driverNum">
    </div>
    <div class="input-form">
      <input type="email" placeholder="Email" mask="" [(ngModel)]="email">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Придумайте пароль" class="passwordSingUp" [(ngModel)]="password">
    </div>
    <div class="input-form">
      <input type="password" placeholder="Повторите пароль" class="passwordSingUprepit"[(ngModel)]="passwordRepeat">
    </div>
    <div class="input-form">
        <button class="btn btn-primary" (click)="SignIn(Fio,dateOfBith,phone,driverNum,email,password,passwordRepeat)">Зарегистрироваться</button>
    </div>
    <a (click)="rout()" class="forget">Войти</a>
  </div>
</div>
