.header{
  width: 100%;
  height: 152px;
  background: white;
  display: flex;
  justify-content: space-between;

  text-align: center;
}
.forget{
  text-decoration: none;
  color: black;
}
.infoClientLk:hover{
  color: red;
}
.logo{
  margin: 30px auto;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 300;
  font-size: 72px;
  line-height: 81px;

  background: linear-gradient(180deg, rgba(0, 26, 255, 0.5) 0%, rgba(189, 0, 255, 0.5) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.logo img{
  margin-top: -35px;
  margin-left: 20px;
  height: 90px;
  width:90px;
}
.info{
  margin-top: 20px;
  margin-right: 40px;
}
/*.balance{*/

/*  font-family: "Lucida Sans Unicode", monospace;*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-size: 24px;*/
/*  line-height: 34px;*/
/*}*/
/*.client{*/
/*  margin-top: 30px;*/
/*  font-family: "Lucida Sans Unicode", monospace;*/
/*  font-style: normal;*/
/*  font-weight: 300;*/
/*  font-size: 32px;*/
/*  line-height: 34px;*/
/*}*/
nav ul{
  list-style: none;
}
nav ul::after{
  content: "";
  display: block;
  clear: both;
}
.menuLk{
  padding-top: 5px;
  text-decoration: none;
  width: 200px;
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;

}
a{
  cursor: pointer;
  user-select: none;}

.menuLk:hover{
  color: red;
}
nav ul ul{
  display: none;
  position: absolute;
}
.lkClient{
  display: inline;
  border-radius: 20px;

  background: linear-gradient(180deg, rgba(0, 26, 255) 0%, rgba(189, 0, 255) 100%);
  backdrop-filter: blur(120px);
  -webkit-backdrop-filter: blur(12px);
}
.lkClient li{
  width: 200px;
  height: 50px;
}
.lkProfil{
  padding-top: 10px;
}
.lkClient li a{
  padding-top: 20px;
  text-decoration: none;
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-size: 14px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: white;
}
.lkClient li a:hover{
  color: red;
}
nav ul li:hover ul{
  display: block;
}
.menu{
  width: 100%;
  height: 83px;
  display: flex;
  justify-content: space-between;

  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: linear-gradient(180deg, rgba(0, 26, 255, 0.5) 0%, rgba(189, 0, 255, 0.5) 100%);

}
.menuItem{
  margin-top: 25px;
}
.menuItem a{
  text-align: center;
  margin-left: 40px;
  text-decoration: none;

  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */
  text-transform: uppercase;
  color: #000000;
}
.menuItem a:hover{
   color: red;
}
