<div class="header">
  <div class="logo">
    <a (click)="cars()" class="forget">
      CoinCar
    </a>
    <a (click)="cars()" class="forget">
    <img src="/assets/image/LogoCar.svg" alt="Картинка не загрузилась">
    </a>
  </div>
</div>
<div class="menu">
  <div class="menuItem">
    <a (click)="cars()">Автомобили</a>
  </div>
  <div class="menuItem">
    <a (click)="rentalConditions()">Условия аренды</a>
  </div>
  <div class="menuItem">
    <a (click)="info()">О компании</a>
  </div>
  <div class="menuItem">
    <a (click)="contact()">Контакты компании</a>
  </div>
  <div class="info">
    <nav>
      <ul>
        <li class="menuLk">Аккаунт

          <ul class="lkClient">
            <li class="lkProfil"> <a (click)="lk()"> <i class="fa-solid fa-user"></i> Профиль</a></li>
            <li> <a (click)="history()"><i class="fa-solid fa-car"></i> История поездок</a></li>
            <li> <a (click)="fillBalance()"><i class="fa-solid fa-wallet"></i> Пополнить баланс</a></li>
            <li> <a (click)="SignIn()"><i class="fa-solid fa-arrow-right-from-bracket"></i> Выход</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
