<div class="header">
  <div class="logo">
    <a href="/main-menu" class="forget">
      CoinCar
    </a>
    <img src="/assets/image/LogoCar.svg" alt="Картинка не загрузилась">
  </div>
</div>
<div class="menu">
  <div class="menuItem">
    <a href="/cars">Автомобили</a>
  </div>
  <div class="menuItem">
    <a href="/rental-conditions">Условия аренды</a>
  </div>
  <div class="menuItem">
    <a href="/info">О компании</a>
  </div>
  <div class="menuItem">
    <a href="/contact">Контакты компании</a>
  </div>
  <div class="info">
    <nav>
      <ul>
        <li class="menuLk">Аккаунт

          <ul class="lkClient">
            <li class="lkProfil"> <a href="/lk">Профиль</a></li>
            <li> <a href="/history">История поездок</a></li>
            <li> <a href="/fill-balance">Пополнить баланс</a></li>
            <li> <a href="/SignIn">Выход</a></li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
