<app-app-nav></app-app-nav>
<div class="body">
  <div class="conditions">
    Условия
  </div>
  <div class="infoConditions">
    <div>Минимальный возраст:<br><br>
      <ul>
        <li>
          18 лет
        </li>
      </ul>

    </div>
    <div>
      Наличие:<br><br>
      <ul>
        <li>
          Водительское удостоверение
        </li>
        <li>Паспорт</li>
      </ul>
    </div>
    <div>
      Залог:<br><br>
      <ul>
        <li>
          Минимальный в зависимости<br> от выбранного авто
        </li>
      </ul>

    </div>

  </div>

</div>
<app-footer></app-footer>
