.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0,0,0,.3);
}
.modal{
  display: block;
  width: 520px;
  height: 450px;
  padding: 2rem;
  background: #fff;
  margin-top: 6rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%,0);
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}
.btn{
  text-align: center;
  background: linear-gradient(180deg, rgba(219, 0, 255, 0.5) -50.32%, rgba(36, 0, 255, 0.5) 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 33px;
}
.error{
  font-size: 10px;
  margin-top: 20px;
}
.startDate{
  display: inline;
}
.modalMy{
  padding-top: 20px;
  display: inline;
}
.dateSt{
  border-radius: 10px;
  margin-bottom: 40px;
}

.endSt{
  margin-bottom: 20px;
}
