<div class="backdrop"></div>
<div class="modal">
  <div class="modalMy">
    <div class="CloseModalWindow">
      <a (click)="closes.emit();">x</a>
    </div>

    <div class="startDate">
      <div class="endSt">
        Дата начало аренды:
      </div>
      <div class="tripStartDate">
        <input class="dateSt" type="date" (input)="onSearch($event,startDate,endDate)" [(ngModel)]="startDate"/>
      </div>

    </div>
    <div class="endDate">
      <div class="endSt">
        Дата завершения аренды:
      </div>
      <div class="tripStartDate">
        <input class="dateSt" type="date" (input)="onSearch($event,startDate,endDate)" [(ngModel)]="endDate"/>
      </div>
    </div>
    <div *ngIf="startDate>endDate" class="exception">
      Даты введены не правильно
    </div>
    <div *ngIf="startDate<=endDate" >
      <div>
        {{ResultCoast}}
      </div>
    </div>

    <div>
      <button class="btn">Арендовать</button>
    </div>
  </div>
</div>

