<div class="backdrop"></div>
<div class="modal">
  <div class="modalMy">
    <div class="startDate">
      <div class="endSt">
        Дата начало аренды:
      </div>
      <input class="dateSt" type="date" [(ngModel)]="startDate"/>
    </div>
    <div class="endDate" style="display: inline">
      <div class="endSt">
        Дата завершения аренды:
      </div>
      <input class="dateSt" type="date" [(ngModel)]="endDate"/>
    </div>
    <div *ngIf="startDate<=endDate && x==1">
      <button class="btn" (click)="reload(startDate,endDate)">Узнать цену</button>
    </div>
    <div *ngIf="startDate<=endDate && x==2">
      <div>
        {{ResultCoast}}
      </div>
      <div>
        <button class="btn" (click)="closes.emit();Further()">Арендовать</button>
      </div>
    </div>
  </div>

</div>

