<div class="backdropp"></div>
<div class="modal">
  <div class="modalMy">
    <div class="CloseModalWindow">
      <a (click)="closes.emit();">x</a>
    </div>
  <div class="calend">
    <div class="startDate">
      <div class="endSt">
        Дата начало аренды:
      </div>
      <div class="tripStartDate">
      <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"
                      (click)="sendDate($event)"
                      [markDisabled]="isDisabled"></ngb-datepicker>
      </div>
    </div>
    <div class="endDate">
      <div class="endSt">
        Дата завершения аренды:
      </div>
      <div class="tripStartDate">
        <ngb-datepicker #dp [(ngModel)]="models" (navigate)="date = $event.next"
                        (click)="sendAddDate($event)"
                        [markDisabled]="isDisabled"></ngb-datepicker>
      </div>
    </div>
  </div>
    <div *ngIf="x==2" class="exception">
      Даты введены не правильно
    </div>
    <div *ngIf="x==1">
      <div>
        {{ResultCoast}}
      </div>
      <div>
        <button class="btn" (click)="CoastTrip();closes.emit();">Арендовать</button>
      </div>
    </div>
  </div>
</div>

