.backdrop{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgb(0,0,0,.3);
}
.modal{
  display: block;
  width: 870px;
  height: 810px;
  padding: 2rem;
  background: #fff;
  margin-top: 0rem;
  position: center;
  left: 50%;
  transform: translate(-50%,0);
  font-style: normal;
  line-height: 28px;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
}
.CloseModalWindow{
  font-size: 30px;
  cursor: pointer;
  padding-left: 420px;
  margin-top: -10px;
  color: grey;
}
.exception{
  color: red;
}
.CloseModalWindow:hover{
  color: black;
}
.btn{
  text-align: center;
  background: linear-gradient(180deg, rgba(219, 0, 255, 0.5) -50.32%, rgba(36, 0, 255, 0.5) 100%);
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 20px;
  margin-top: 20px;
  font-size: 33px;
}
.error{
  font-size: 10px;
  margin-top: 20px;
}
.startDate{
  display: inline;
}
.modalMy{
  padding-top: 20px;
  display: inline;
}
.dateSt{
  border-radius: 10px;
  margin-bottom: 40px;
}

.endSt{
  margin-bottom: 20px;
}
.accept{
  font-size: 15px;
  margin-top: -10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.ch{
  margin-left: 2px;
}
.custom-datepicker .ngb-dp-header {
  padding: 0;
}
.custom-datepicker .ngb-dp-content {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
}
