<div class="backdrop"></div>
<div class="modal">
  <nav class="navbar">
    <div class="title">
      Пополнение баланса
    </div>
    <div class="setting">
      Инструкция по пополнению:<br>
      1.Введите сумму<br>
      2.Нажмите пополнить<br>
      3.После добавление нажмите на значок <i class="fa-solid fa-rotate-right"></i>
    </div>

  </nav>
  <div class="numberCard">
      <input  class="sum" placeholder="Сумма" [(ngModel)]="sum" mask="XXXXXX">
  </div>
  <button class="btn add" (click)="addItem(sum);close.emit()">Пополнить</button>
</div>
