<app-app-nav></app-app-nav>
<ng-container>
  <div class="body">
  <div class="carItem">
    <div class="imgCar">
      <img src="/assets/image/SuperCar.png" alt="">
      <div class="info">
        <div class="infoCar">
          Lada Vesta
        </div>
        <div class="price">
          ОТ {{priceCar}} руб/сутки
        </div>
        <div style="display: inline">
          <div class="modification">
            <div class="modificationСar">
              <img src="/assets/image/akpp.png" alt="">
              <p>АКПП</p>
            </div>
            <div class="modificationСar">
              <img src="/assets/image/user_84308.png" alt="">
              <p>4 олега</p>
            </div>
            <div class="modificationСar">
              <img src="/assets/image/car_body_icon_153968.png" alt="">
              <p>Седан</p>
            </div>
          </div>
          <button class="btn" (click)="modal=true">Подробнее</button>
          <button class="btn" (click)="modals=true"> Арендовать </button>
          <app-modal-info
            *ngIf="modal"
            (close)="modal = false"></app-modal-info>
          <app-modal-rent-car
            *ngIf="modals"
            (closes)="modals = false"></app-modal-rent-car>
        </div>

      </div>
    </div>
  </div>
  </div>
</ng-container>
<app-footer></app-footer>
