<ng-container>
  <div class="header">
    <div class="logo">
      <a href="/main-menu" class="forget">
        Звездочка
      </a>
    </div>
    <div class="logoImg">
      <img src="src/image/Star.svg" alt="Картинка не загрузилась">
    </div>
    <div class="balance">
      {{balance}} {{sum}}
    </div>
    <div class="client">
      <a href="/lk" class="forget">
        <div>
          {{clientLastName}}
        </div>
        <div>
          {{clientName}}
        </div>
      </a>
    </div>
  </div>
  <div class="menu">
    <div class="menuItem">
      <a href="/cars">Автомобили</a>
    </div>
    <div class="menuItem">
      <a href="">Условия аренды</a>
    </div>
    <div class="menuItem">
      <a href="">О компании</a>
    </div>
    <div class="menuItem">
      <a href="">Контакты компании</a>
    </div>
  </div>
  <div class="body">
    <div class="cars1">
      <div class="nameCar">
        {{nameCar}}
      </div>
      <div class="carInfo">
        <img src="./image/Chart.png" alt="123">
      </div>
      <div class="carPrice">
        1232132
      </div>
      <div class="descriptionCar">
        <img src="./image/Chart.png" alt="123">
        <div>
          Хар-ки авто
        </div>
      </div>
      <div>
        <button>Арендовать</button>
      </div>
    </div>
    <div class="cars2">
    </div>
  </div>

</ng-container>
