<app-app-nav></app-app-nav>
<ng-container>
  <div class="body">
  <div class="carItem" *ngFor="let item of cars">
    <div class="imgCar">
      <img [src]="item.ImgCar" alt="">
      <div class="info">
        <div class="infoCar">
          {{item.NameCar}}
        </div>
        <div class="price">
          ОТ {{item.PriceCar}} руб/сутки
        </div>
        <div style="display: inline">
          <div class="modification">
            <div class="modificationСar">
              <img src="/assets/image/akpp.png" alt="">
              <p>{{item.Transmission}}</p>
            </div>
            <div class="modificationСar">
              <img src="/assets/image/user_84308.png" alt="">
              <p>{{item.CountSeats}} места</p>
            </div>
            <div class="modificationСar">
              <img src="/assets/image/car_body_icon_153968.png" alt="">
              <p>{{item.BodyType}}</p>
            </div>
          </div>
          <button class="btn add" (click)="change(item.IdCar)">Подробнее</button>
          <button class="btn" (click)="modals=true"> Арендовать </button>
          <app-modal-info *ngIf="modal" (close)="modal = false"></app-modal-info>
          <app-modal-rent-car *ngIf="modals" (closes)="modals = false"></app-modal-rent-car>
        </div>

      </div>
    </div>
  </div>
  </div>
</ng-container>
<app-footer></app-footer>
