.body{
  height: 900px;
  width: 100%;
}
.headings{
  padding-top: 30px;
  text-align: center;
  font-family: 'Lucida Sans Unicode';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
}


