<ng-container>
  <div class="header">
    <div class="logo">
      <a href="/main-menu" class="forget">
        Звездочка
      </a>
    </div>
    <div class="logoImg">
      <img src="src/image/Star.svg" alt="Картинка не загрузилась">
    </div>
    <div class="balance">
      {{balance}} {{sum}}
    </div>
    <div class="client">
      <a href="/lk" class="forget">
        <div>
          {{clientLastName}}
        </div>
        <div>
          {{clientName}}
        </div>
      </a>
    </div>
  </div>
  <div class="menu">
    <div class="menuItem">
      <a href="/cars">Автомобили</a>
    </div>
    <div class="menuItem">
      <a href="">Условия аренды</a>
    </div>
    <div class="menuItem">
      <a href="">О компании</a>
    </div>
    <div class="menuItem">
      <a href="">Контакты компании</a>
    </div>
  </div>
  <div class="body">
      <button>Личная информация</button>
      <button>История поездок</button>
  <div class="infoClient">
    <div>
      ФИО: {{clientLastName}} {{clientName}} {{clientMiddleName}}
    </div>
    <div>
      Email: {{clientEmail}}
    </div>
    <div>
      Номер прав: {{clientDriverNum}}
    </div>
  </div>
    <button>Пополнить баланс</button>
  </div>
</ng-container>
